<html th:replace="~{index :: layout (~{:: main})}">
<body>
<main th:fragment="content">
  <input type="hidden" name="beneficiosSelecionados" id="hidden-beneficios">
  <input type="hidden" name="encargosSelecionados" id="hidden-encargos">
  <h1>Inserir Dados do Salario</h1>
  <form action="#" th:action="@{/salarios/salvar}" th:object="${salario}" method="post">
    <div class="row">
      <label>
        <label>
          <span>Colaborador:</span>
          <select id="colaborador" th:field="*{colaborador}">
            <option th:each="c: ${colaboradores}" th:value="${c.id}" th:text="${c.nome}">Colaborador</option>
          </select>
        </label>
        <label>
          <span>Salário Base:</span>
          <input type="text" id="salarioBase" th:field="*{salarioBase}"/>
        </label>
      </label>
    </div>
    <div class=row>
      <label class="row-element">
        <span>Benefícios:</span>
        <div class="dropdown">
          <input type="text" placeholder="Search.." id="myInput" th:attr="name_dropdown = beneficioDropdown"
                 onkeyup="filterFunction()"
                 onclick="renderDropdown(this)">
          <div id="MyDropdown" class="dropdown-content" name="beneficioDropdown">
            <ul>
              <li th:each="b : ${beneficios}">
                <div class="select-label" th:attr="descricao = ${b.descricao}">
                  <input type="checkbox" class="dropdown-check" name="beneficio-check"
                         th:id="'beneficio-' + ${b.id}" th:value="${b}"
                         onclick="selectItem(value, 'beneficio', this)">
                  <label class="chek-label" th:for="'beneficio-' + ${b.id}" th:text="${b.descricao}"></label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </label>
      <div class="selecteds row-element">
        <label>
          <span>Selecionados:</span>
          <div class="selected-list" id="selected-beneficio">
            <span class="default-span" id="default-beneficio">Nenhum benefício selecionado</span>
            <ul>

            </ul>
          </div>
        </label>
      </div>
    </div>
    <div class=row>
      <label class="row-element">
        <span>Encargos:</span>
        <div class="dropdown">
          <input type="text" placeholder="Search.." id="myInput" th:attr="name_dropdown = encargoDropdown"
                 onkeyup="filterFunction()" onclick="renderDropdown(this)">
          <div name="encargoDropdown" id="MyDropdown" class="dropdown-content">
            <ul>
              <li th:each="e : ${encargos}">
                <div class="select-label" th:attr=" descricao = ${e.descricao}">
                  <input type="checkbox" class="dropdown-check" name="beneficio-check"
                         th:id="'beneficio-' + ${e.id}" th:value="${e}"
                         onclick="selectItem(value, 'encargo',this)">
                  <label class="chek-label" th:for="'beneficio-' + ${e.id}" th:text="${e.descricao}"></label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </label>
      <div class="selecteds row-element">
        <label>
          <span>Selecionados:</span>
          <div class="selected-list" id="selected-encargo">
            <span class="default-span" id="default-encargo">Nenhum encargo selecionado</span>
            <ul>

            </ul>
          </div>
        </label>
      </div>
    </div>

    <button type="submit">Registrar salário</button>
  </form>
  <script>

      function filterFunction() {
          var input, filter
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          div = document.getElementById("MyDropdown");

          itens = div.getElementsByTagName("li");
          for (li of itens) {
              // Obtém o benefício a partir do atributo "beneficio"
              let beneficio = li.querySelector('.select-label').getAttribute('descricao');

              // Compara o texto do benefício com o filtro
              if (beneficio && beneficio.toUpperCase().indexOf(filter) > -1) {
                  li.style.display = ""; // Mostra o item
              } else {
                  li.style.display = "none"; // Esconde o item
              }
          }

      }

      function selectItem(data, listType, check) {
          console.log(check.checked)
          isCheck = check.checked
          divSelectLabel = check.parentElement;
          checkLabel = divSelectLabel.querySelector('.chek-label');
          console.log(checkLabel);
          targetList = document.getElementById('selected-' + listType)
          targetListDefault = document.getElementById('default-' + listType)
          console.log(targetListDefault)


          function renderSelected() {
              console.log('desativando default')
              if (targetListDefault.style.display != 'none') {
                  targetListDefault.style.display = 'none'
              }
              cloneCheck = check.cloneNode()
              cloneCheck.id = check.id + '-clone'
              cloneLabel = checkLabel.cloneNode(true)
              cloneDivSelectLabel = divSelectLabel.cloneNode(false)
              cloneDivSelectLabel.appendChild(cloneCheck)
              cloneDivSelectLabel.appendChild(cloneLabel)
              newLi = document.createElement('li')
              newLi.appendChild(cloneDivSelectLabel)
              targetList.querySelector('ul').appendChild(newLi)
          }

          function unrenderSelected() {
              //se o click vier da targetList, o id do elemento que acionou a função deve ter -clone
              callerId = check.id
              //se o click vier do clone
              if (callerId.indexOf('-clone') > -1) {
                  console.log('chamada do filtro')
                  check.parentElement.parentElement.remove()
                  if (targetList.querySelector('ul').children.length == 0) {
                      targetListDefault.style.display = 'block'
                  }
              } else {
                  console.log('chamada do filtro')
                  document.getElementById(callerId + '-clone').parentElement.parentElement.remove()
                  console.log(targetList.querySelector('ul').children.length)
                  if (targetList.querySelector('ul').children.length == 0) {
                      targetListDefault.style.display = 'block'
                  }
              }




          }

          function selectHandler() {
              if (isCheck) {
                  renderSelected()
              } else {
                  //unrenderSelected(targetlist, targetListDefault)
                  unrenderSelected()
              }
          }
          selectHandler()

      }

      function renderDropdown(filter) {
          if (filter == null) {
              alert("sem elemento");
          } else {
              dropdown = document.getElementsByName(filter.getAttribute("name_dropdown"))[0]
              console.log(dropdown)
              dropdown.classList.toggle("show")
              unrenderOutClick(dropdown)
          }
      }


      function unrenderOutClick(element) {
          // Adiciona um event listener para detectar cliques fora do elemento
          console.log("underenderOutClick: \n" + element)

          function handleClickOutside(event) {
              if (!element.contains(event.target) && element.classList.contains("show")) {
                  console.log("clicou fora")
                  element.classList.remove("show");
                  document.removeEventListener("click", handleClickOutside);
              }
          }

          console.log("adicionou evento")
          document.addEventListener("pointerdown", handleClickOutside);
      }

  </script>
</main>

</body>
</html>

