<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Formulário de Usuário</title>
</head>
<body>
<h1>Inserir Dados do Usuário</h1>
<form action="#" th:action="@{/add-usuario}" th:object="${usuario}" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" th:field="*{name}" />
    <br><br>
    <label for="password">Senha:</label>
    <input type="text" id="password" th:field="*{password}" />
    <br><br>
    <p>Definir como administrador?</p>
    <input type="radio" id="admSim" value="true" name="administrador" th:field="*{adm}" />
    <label for="admSim">Sim</label>
    <input type="radio" id="admNao" value="false" name="administrador" th:field="*{adm}" />
    <label for="admNao">Não</label>
    <br><br>
    <button type="submit">Enviar</button>
</form>
</body>
</html>