<html th:replace="~{index :: layout (~{:: main})}">
<body>
<main th:fragment="content">
  <h1>Benefícios</h1>
  <table>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th>Descrição</th>
      <th>Valor Aplicado</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="beneficio : ${beneficios}">
      <th scope="row" th:text="${beneficio.id}"></th>
      <td th:text="${beneficio.descricao}"></td>
      <td th:text="${beneficio.valorAplicado}"></td>
      <td>
        <a th:href="@{/departamentos/{id}/(id=${beneficio.id})}">Editar</a>
        <a th:href="@{/departamentos/{id}/excluir(id=${beneficio.id})}"
           th:data-confirm-delete="|Deseja realmente excluir o encago: ${beneficio.descricao}?|"
           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Excluir</a>
      </td>
    </tr>
    <tr th:if="${beneficios.empty}">
      <td colspan="4">Nenhum benefício cadastrado.</td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>
